body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
}
.switch-container{
    width: 20%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.switch-cover{
    background-color: grey;
    height: 120px;
    width: 80px;
    box-shadow: 0px 0px 5px darkgrey;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 4px;
}
.screw{
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: darkgray;
}
.switch{
      height: 50%;
      width: 50%;
      background-color: linear-gradient(darkgrey,grey);
      border-top: 1px solid black;
      border-right: 1px solid black;
      border-left: 1px solid black;
      border-bottom: 5px solid darkgrey;
    }
    .on{
        background-color: linear-gradient(darkgrey,grey);
        border-bottom: 1px solid black;
        border-top: 5px solid darkgrey;
    }
.bulb-container{
    height: 100vh;
    width: 40%;
}
.wire{
    height: 200px;
    width: 10px;
    background: grey;
    margin: 0 auto;
}
.w-connec{
    height: 15px;
    width: 15px;
    margin: 0 auto;
    background-color: dimgrey;
    border-top-right-radius: 10px ;
    border-top-left-radius: 10px ;
    margin-top: -5px;
}
.socket-top{
    height: 20px;
    width: 50px;
    background-color: grey;
    margin: 0 auto;
    border-top-right-radius: 40px ;
    border-top-left-radius: 40px ;
    margin-top: -5px;
    border-bottom: 1px solid black;
}
.s-bottom{
    height: 30px;
    width: 50px;
    background-color: grey;
    margin: 0 auto;
}
.socket-back{
    height: 20px;
    width: 50px;
    background-color: grey;
    margin: 0 auto;
    margin-top: -10px;
    opacity: 0.5;
    border-radius: 50%;
}
.bulb-top{
    height: 30px;
    width: 46px;
    background-color: lightgrey;
    margin: 0 auto;
    border-top-right-radius: 10px ;
    border-top-left-radius: 10px ;
    margin-top: -10px;
}
.bulb-bo{
    height: 80px;
    width: 80px;
    background-color: lightgrey;
    margin: 0 auto;
    border-radius: 50%;
    margin-top: -10px;
}
.bon{
    background-color: lightyellow;
    box-shadow: 0px 10px 100px 10px lightyellow;
}